# Note that not all variables here might be in use for your selected configuration

# Prisma
DATABASE_URL= #Postgres database URL


# Next Auth
NEXTAUTH_SECRET= #Secret for Next Auth (generate with `openssl rand -hex 32`)
NEXTAUTH_URL= #URL of the Next Auth instance (e.g. https://example.com)

# Next Auth Twitch Provider
TWITCH_CLIENT_ID= #Twitch Client ID
TWITCH_CLIENT_SECRET= #Twitch Client Secret

# Supabase
NEXT_PUBLIC_SUPABASE_URL= #Supabase URL
NEXT_PUBLIC_SUPABASE_ANON= #Supabase Anon Key


# Default Settings
DEFAULT_USER_COOLDOWN=1209600 #Default user cooldown (14 days)