@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply duration-300 bg-neutral-100 dark:bg-neutral-900;
}

input[type="checkbox"] {
    @apply duration-300 bg-neutral-100 dark:bg-neutral-900 text-neutral-100 dark:text-neutral-900;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    width: 1.2em;
}

::-webkit-scrollbar-track {
    @apply bg-neutral-600 rounded-full m-2;
}

::-webkit-scrollbar-thumb {
    @apply bg-neutral-800 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-700;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.modal {
    @apply z-50 w-screen md:min-w-[20rem] md:max-w-[35rem] transform overflow-hidden rounded-2xl flex flex-col bg-neutral-100 dark:bg-neutral-800 dark:text-neutral-100 p-6 align-middle shadow-xl transition-all;
}

.modal-body {
    @apply grid grid-cols-1 place-items-center items-center justify-items-center gap-4 lg:grid-cols-2;
}

.card {
    @apply w-full max-w-[15rem] z-0;
}

.card-body {
    @apply flex h-full min-h-[21rem] max-h-[42rem] flex-col pt-8 dark:bg-neutral-800 bg-neutral-200 text-neutral-900 z-10 rounded-2xl dark:text-neutral-100 duration-300;
}

.image-box {
    @apply relative mx-auto aspect-square w-28 mb-4 flex items-center justify-center overflow-hidden;
}
