@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
    background-color: hsl(var(--b2));
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}